.card-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 90px;
  padding-bottom: 50px;
  margin-left: auto;
  margin-right: auto;
}

.card-container {
   justify-content: center;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    margin-top: -140px;
    position: relative;
}

button{
    &:hover {
    cursor: pointer;
  } &:focus{
    outline: 0 !important;
  }
}
