.card {
  margin: 5px;
  background: white;
  height: 370px;
}

.overview {
  display: none;
  width: 240px;
  margin: 0;
}

// .overview:hover {
//   display: inline-block;
// }

.title {
  display: none;
}

.poster {
  width: 250px;
}

// .poster:hover{
//   opacity: 0;
// }

.vote {
  display: none;
}

.image-container{
}

.not-favorite {
  background-image: url('../../Imagery/like.svg');
  height: 30px;
  width: 30px;
  position: absolute;
  background-repeat: no-repeat;
  background-size: cover;
  float: right;
}

.favorite {
  background-image: url('../../Imagery/like-active.svg');
  height: 30px;
  width: 30px;
  position: absolute;
  background-repeat: no-repeat;
  background-size: cover;
  float: right;
}

.favorite-button {
  height: 50px;
  margin-left: -20px;
  width: 50px;
  border: none;
  background: none;
  position: absolute;
  float: right;
}
