.card {
  margin: 5px; }

.overview {
  display: none; }

.title {
  display: none; }

.poster {
  width: 250px; }

.vote {
  display: none; }

.not-favorite {
  background-image: url("../../Imagery/like.svg");
  height: 30px;
  width: 30px;
  position: absolute;
  background-repeat: no-repeat;
  background-size: cover;
  float: right; }

.favorite {
  background-image: url("../../Imagery/like-active.svg");
  height: 30px;
  width: 30px;
  position: absolute;
  background-repeat: no-repeat;
  background-size: cover;
  float: right; }

.favorite-button {
  height: 30px;
  margin-left: -20px;
  width: 40px;
  border: none;
  background: none;
  position: absolute;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.8;
  float: right; }
