.backdrop {
  margin-top: 80px;
  width: 100%;
  height: auto;
}

// h4 {
//   margin-top: 233px;
//   font-weight: 100;
//   font-size: 72px;
//   margin-bottom: 0;
//   color: white;
//   position: absolute;
// }
