.nav-bar {
  z-index: 1;
  position: fixed;
  display: flex;
  justify-content: space-around;
  width: 100%;
  background: black;
  padding-top: 30px;
  height: 50px;
}

.welcome{
  // font-weight: 100;
  font-family: 'Comfortaa', cursive;
  display: block;
  color: #817df1;
  margin: 0;
}

.nav {
  color: white;
  text-decoration-line: none;
  &:focus {
    color: #817df1;
  }
}

.logout {
  font-weight: 100;
  border: none;
  background: #817df1;
  color: #ffffff;
  height: 22px;
  width: 110px;
  border-radius: 100px;
}

.logo{
  font-family: 'Comfortaa', cursive;
  color: #817df1;
  margin: 0px;
}

.logo-two {
  font-family: 'Comfortaa', cursive;
  color: white
}

.user {
  font-family: 'Comfortaa', cursive;
  color: #817df1;
}
