.welcome-text {
  font-size: 32px;
  margin-top: 0;
  font-weight: 100; }

.login {
  background-color: #ececec;
  height: 100vh;
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: space-around;
  margin-left: auto;
  margin-right: auto; }

.email, .password {
  width: 90%;
  margin-bottom: 23px;
  height: 35px;
  font-size: 17px; }

.submit-button {
  width: 92%;
  height: 40px;
  font-size: 18px;
  color: white;
  background: #5600ff;
  border: none;
  font-weight: 100; }
  .submit-button:hover {
    cursor: pointer; }
  .submit-button:focus {
    outline: 0 !important; }
